:root {
  /* colors */
  --white: #f8f8f8;
  --gray: #c4c4c4;
  --light-gray: #f1f1f1;
  --dark-gray: #909090;
  --black: #333;
  --blue: #3c48ea;
  --light-blue: #d0e9ff;
  --pale-blue: #eff2f6;
  /* avatar colors */
  --avatar-bg: #42526e;
  /* spacing */
  --page-gutter-vert: 38px;
  --page-gutter-horiz: 28px;
  /* z-index */
  --z-index-header: 500;
  --z-index-menu: 1000;
}

html,
body {
  position: relative;
  width: 100%;
  height: 100%;
}

body {
  color: var(--black);
  margin: 0;
  font-family: Poppins, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  font-size: 19px;
  font-weight: 200;
  line-height: 28px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1 {
  font-weight: 500;
  margin: 0;
  font-size: 22px;
  line-height: 33px;
}

h2 {
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  margin: 1em 0 0.5em;
  color: var(--blue);
}

input,
button,
select,
textarea {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

svg {
  height: 1em;
  width: auto;
  fill: currentColor;
  vertical-align: middle;
}

ul,
ol,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}
