:root {
	--blue: #3c48ea;
	--white: #fff;
	--black: #333;
}

html, body {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
	color: var(--black);
	margin: 0;
	font-family: Poppins, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	font-size: 19px;
	font-weight: 200;
	line-height: 28px;
	-webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*, *::before, *::after {
	box-sizing: border-box;
}

h1 {
	font-weight: 500;
	margin: 0;
	font-size: 22px;
	line-height: 33px;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
}
